@import url("https://use.typekit.net/gtb8svy.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Degular", sans-serif;
  font-weight: 300;
  text-align: center;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.smooth-scroll {
  scroll-behavior: smooth;
}

a {
  color: #f5f5f5;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-family: "Degular", sans-serif;
  color: #f5f5f5;
  font-size: 1.1rem;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -2.4px;
  text-align: left;
  line-height: 1.1;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -2px;
  text-align: left;
  line-height: 1.1;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -1.6px;
  text-align: left;
  line-height: 1.1;
}

h4 {
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: -1.4px;
  text-align: left;
  line-height: 1.1;
}

/* Using as "label" */
h5 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -1.2px;
  text-align: left;
}

/* Using h6 as large body text */
h6 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
}

p {
  font-size: 1.15rem;
  font-weight: 300;
  text-align: left;
  line-height: 1.7;
}

@media (min-width: 900px) {
  h1 {
    font-size: 3.5rem;
    letter-spacing: -3px;
  }

  h2 {
    font-size: 3rem;
    letter-spacing: -2.4px;
  }

  h3 {
    font-size: 2.5rem;
    letter-spacing: -2px;
  }

  h4 {
    font-size: 2rem;
    letter-spacing: -1.6px;
  }
}
