@import url("https://use.typekit.net/gtb8svy.css");

body,
html {
  font-family: "Degular", sans-serif;
  font-weight: 300;
  text-align: center;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
